.content{
	background-color: #f5f5f5;
    top:20%;
    padding:80px;
}

/*.content h1{*/
    /*color: #222222;*/
    /*font-size: 40px;*/
    /*font-weight: bold;*/
    /*line-height: 50px;*/
    /*margin-top: 100px;*/
    /*text-align: center;*/
    /*text-transform: uppercase;*/
/*}*/
/*.content h3 {*/
    /*color: #222222;*/
    /*font-size: 22px;*/
    /*text-align: center;*/
/*}*/
